extends layout

block content
  article.post
    div.post-header
      div.post-data
        div.post-author-image
          img(src='http://placehold.it/104x104/95b8cd' alt='Eric Man' width='104' height='104')
        div.post-data-wrapper
          h2.post-title QUT IT Club & Networking Night
          div.post-posted-by Posted by <a href="#">Eric Man</a>
      time.post-date
        include icons/icon-calendar
        span 12th of February 2016
    div.post-content
      h3 QUT IT Club & Networking Events
      p.
        QUT IT Club is a QUT attliated club that aims to provide members with valuable
        experiences and social aspects that allow them to network with students, potential employees and industry experts.
        We host several events each semester for our students. We're also considered the largest IT club ran at QUT with
        an active paying member base of approximately 350 students that study not only IT, but Engineering, Law, Maths and
        Business disciplines. We have an ever increasing number of female members which is great not only for the
        ITIndustry but for our club's diversity and club focus. Students who join our club are usually attracted by the
        casual networking/social aspect or the experiences and official networking nights that we offer!
      p.
        This semester
        so far we have had a very successful Pc Building workshop(sponsored by MSY and a Social Event which overflowed
        the two rooms we had booked and a Bar Networking Night which allowed members to network in a more casual relaxed
        manner(without getting out of controln. We have an upcoming Networking Event for IT orientated companies offering
        graduate programs with companies such as Deloitte, Haltbrick, REA and Suncorp expressing interest in attendance!
      p.
        Regardless of this, we are always looking for companies willing to support us in a variety of ways so that QUT IT
        can expand and provide more valuable experiences for our students via collaboration, This not only increases
        awareness of your company to potential graduates but also allows your company direct engagement with our members
        be it by sponsoring our club, attending Networking Events and collaborating on events that provide experience to
        our students or even challenge them to hone their abilities. This not only gives companies access to our students,
        but lo a pool of graduates who are extremely interested in IT and motivated enough to gain experience, skills and
        knowledge that isn't compulsory to their course, by being an active member of our club, If you'd also like to
        take a further look at our student reach, feel tree to look at our two facebook
        groups (<a href="#">https://www.facebook.com/groupslqutit</a> &
        <a href="#">https//www.facebook.com/groups/qutisa</a>) with over 2.800 members and growing
      p.
        We are primarily looking for companies and organisations that have a strong investment in the IT industry that
        offer graduate programs or hire graduate students. However, we implore all companies interested to contact us
        regardless. We're also still looking for a few more companies to attend this semester's Networking event, ran on
        the 29th of April at 5pm.<br>
        If you are interested in attending our Networking Event, discussing collaboration,
        sponsorship or have any general enquiries please don't hesitate to contact met You can reach me(Jack Buckman) at
        our club email: club qutitclub.com
    div.post-footer
      a.post-read-more(href='#') View full Article
      div.post-social
        span Share on
        a.post-share.post-share-facebook(href='#')
          include icons/icon-facebook
        a.post-share.post-share-twitter(href='#')
          include icons/icon-twitter
        a.post-share.post-share-google(href='#')
          include icons/icon-google