// Color variables
// named by http://chir.ag/projects/name-that-color

$color-white: 						#ffffff;
$color-gallery: 					#efefef;
$color-seashell: 					#f1f1f1;
$color-alto: 							#d8d8d8;
$color-tuna: 							#393b42;
$color-chelsea-cucumber: 	#81af4d;
$color-dingley: 					#6e8e49;
$color-cerulean: 					#00a9ed;
$color-san-marino: 				#4460a1;
$color-pomegranate: 			#f8402e;
